*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: #dfe9f5;
  }

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin: 20px auto;
}

.course {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

.course:hover {
    transform: scale(1.05);
}

.course img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.course h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.course p {
    margin: 5px 0;
}
